.wrapper {
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("/ship.jpg");

  .form {
    flex: 1;
    max-width: 450px;
    padding: 30px;
    background: rgb(255, 255, 255);
    overflow-y: auto;
  }
  .side {
    flex: 1;
  }
}
